# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the root if generated
main.js

# Exclude sourcemaps
*.map

# obsidian settings local data
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Exclude build folder (bundled releases go to build/)
build
